.cabeçalho{background-color: brown;color:black;display:flex;justify-content:center;
    color:blueviolet;
    display:blue;
    justify-content: center;}
    .imagem-logo{
        width: 20%
        }
        .sobre-carrobaixos{
            background-color: blue
            color(srgb red green blue)
        }    ;